.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

input,
input:focus,
input:active,
input:hover {
  border-bottom: 0!important;
  box-shadow: none!important;
}

.hp-teamMembers {
  margin-left: 15%;
  margin-top: 25px;
  height: 150px;
}